{
    debug
    admin localhost:2022
    http_port 8080
}

http:// {
    route {
        resolve_cname {
            nameserver 127.0.0.1:53
            strict
        }
    }
    respond * {http.request.host.cname}
}